In [49]:
# Importing Libraries
import selenium
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

# Q1

In [5]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:/Users/nitee/Downloads/chromedriver_win32/chromedriver.exe") 
time.sleep(3)

url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [6]:
details=[]

# Extracting Brand from xpath
try:
    det = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td")      
    for i in det:
        details.append(i.text)
except NoSuchElementException:
    details.append('-')
    
Detail=pd.DataFrame()

Detail['Rank']=details[:180:6]
Detail['Name']=details[1:180:6]
Detail['Artist']=details[2:180:6]
Detail['Upload Date']=details[4:180:6]
Detail['Views (in billion)']=details[3:180:6]

Detail.head()

,Rank,Name,Artist,Upload Date,Views (in billion)
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.00
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.70
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.10
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.58
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.38

# Q2

In [7]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:/Users/nitee/Downloads/chromedriver_win32/chromedriver.exe") 
time.sleep(3)

url = "https://www.bcci.tv/"
driver.get(url)

In [9]:
# accessing the international section of web page
title_tags=driver.find_element_by_xpath("/html/body/nav/div/div[2]/ul[1]/li[2]/a")
driver.get(title_tags.get_attribute("href"))
time.sleep(10)

for i in range(2):
    btn=driver.find_element_by_xpath('/html/body/div[3]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button')  
    btn.click()
    time.sleep(3)

In [15]:
#Make empty lists
title = []   
series = []
place = []
date = []
times = []

    
# Extracting series
try:
    ser = driver.find_elements_by_xpath("//div[@class='fixture-card-top']/h5/span")      
    for i in ser:
        series.append(i.text)
except NoSuchElementException:
    series.append('-')    

series=series[1::2]

# Extracting match title and place
try:
    places = driver.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']")      
    for i in places:
        title.append(i.text.split('-')[0])
        place.append(i.text.split('-')[1])
except NoSuchElementException:
    place.append('-')


time.sleep(1)    
# Extracting date    
try:
    dates = driver.find_elements_by_xpath("//div[@class='match-card-left match-schedule']")      
    for i in dates:
        date.append(i.text)
except NoSuchElementException:
    date.append('-')


time.sleep(1)
# Extracting time
try:
    t = driver.find_elements_by_xpath("//div[@class='match-card-right match-schedule ']/h5")      
    for i in t:
        times.append(i.text)
except NoSuchElementException:
    times.append('-')



time.sleep(2)    
# Make dataframe
fixture = pd.DataFrame({'Match Title':title,'Series':series,'Place':place,'Date':date,'Time':times})
fixture.head()

,Match Title,Series,Place,Date,Time
0,,ICC MENS UNDER 19 WORLD CUP 2022,"Providence Stadium, Guyana",15 JAN 2022,7:30 PM IST
1,,ICC MENS UNDER 19 WORLD CUP 2022,"Brian Lara Stadium, Trinidad",19 JAN 2022,7:30 PM IST
2,1st ODI,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"Boland Park, Paarl",19 JAN 2022,2:00 PM IST
3,2nd ODI,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"Boland Park, Paarl",21 JAN 2022,2:00 PM IST
4,,ICC MENS UNDER 19 WORLD CUP 2022,"Brian Lara Stadium, Trinidad",22 JAN 2022,7:30 PM IST

# Q3

In [16]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:/Users/nitee/Downloads/chromedriver_win32/chromedriver.exe") 
time.sleep(3)

url = "https://www.guru99.com/"
driver.get(url)

In [17]:
# reaching to selenium page 
title_tags=driver.find_element_by_xpath("//a[@title='Selenium']")
driver.get(title_tags.get_attribute("href"))

time.sleep(3)
# reaching to selenium exception handling page
title_tags=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
driver.get(title_tags.get_attribute("href"))

In [19]:
#Make empty lists
name = []   
description = []

    
# Extracting series
try:
    det = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td")      
    for i in det:
        name.append(i.text)
except NoSuchElementException:
    name.append('-')    

description=name[1::2]
name=name[::2]

time.sleep(2)    
# Make dataframe
sel = pd.DataFrame({'Name':name,'Description':description})
sel.head()

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...

# Q4

In [20]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:/Users/nitee/Downloads/chromedriver_win32/chromedriver.exe") 
time.sleep(3)

url = "http://statisticstimes.com/"
driver.get(url)

In [21]:
# reaching to economy page 
title_tags=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
driver.get(title_tags.get_attribute("href"))

time.sleep(3)
# reaching to Indian GDP page
title_tags=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
driver.get(title_tags.get_attribute("href"))

In [25]:
#Make empty lists
rank = []   
state = []
gsdp = []
gsdp2 = []
share = []
gdp = []

    
# Extracting rank
try:
    r = driver.find_elements_by_xpath("//td[@class='data1']")      
    for i in r:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-') 
rank=rank[:33]
    
# Extracting state
try:
    s = driver.find_elements_by_xpath("//td[@class='name']")      
    for i in s:
        state.append(i.text)
except NoSuchElementException:
    state.append('-') 
state=state[:33]

# Extracting gsdp
try:
    g2 = driver.find_elements_by_xpath("//td[@class='data sorting_1']")      
    for i in g2:
        gsdp2.append(i.text)
except NoSuchElementException:
    gsdp2.append('-')
gsdp2=gsdp2[:33]
    
# Extracting share and gdp
try:
    g = driver.find_elements_by_xpath("//td[@class='data']")      
    for i in g:
        gdp.append(i.text)
except NoSuchElementException:
    gdp.append('-')

gsdp=gdp[:165:5]
share=gdp[1:165:5]
gdp=gdp[2:165:5]

time.sleep(2)    
# Make dataframe
GDP = pd.DataFrame({'Rank':rank,'State':state,'GSDP (19-20)':gsdp,'GSDP (18-19)':gsdp2,'Share':share,'GDP (billion)':gdp})
GDP.head()

  Rank          State GSDP (19-20) GSDP (18-19)   Share GDP (billion)
0    1    Maharashtra            -    2,632,792  13.94%       399.921
1    2     Tamil Nadu    1,845,853    1,630,208   8.63%       247.629
2    3  Uttar Pradesh    1,687,818    1,584,764   8.39%       240.726
3    4        Gujarat            -    1,502,899   7.96%       228.290
4    5      Karnataka    1,631,977    1,493,127   7.91%       226.806

# Q5

In [28]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:/Users/nitee/Downloads/chromedriver_win32/chromedriver.exe") 
time.sleep(3)

url = "https://github.com/"
driver.get(url)

In [29]:
# reaching to trending page 
title_tags=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
driver.get(title_tags.get_attribute("href"))

In [31]:
#Make empty lists
title = []   
desc = []
count = []
lang = []
    
# Extracting rank
try:
    r = driver.find_elements_by_xpath("//article[@class='Box-row']/h1/a")      
    for i in r:
        title.append(i.text)
except NoSuchElementException:
    title.append('-') 

urls = []
url=driver.find_elements_by_xpath("//article[@class='Box-row']/h1/a")
for i in url:
    urls.append(i.get_attribute("href"))
    
for i in urls:
    driver.get(i)
    time.sleep(2)
    
    # Extracting description
    try:
        des = driver.find_element_by_xpath("//div[@class='BorderGrid-cell']/p")      
        desc.append(des.text)
    except NoSuchElementException:
        desc.append('-') 
        
    # Extracting countribution count
    try:
        c = driver.find_element_by_xpath("/html/body/div[4]/div/main/div[2]/div/div/div[2]/div[2]/div/div[4]/div/h2/a/span")      
        count.append(c.text)
    except NoSuchElementException:
        count.append('-') 
        
    # Extracting language
    try:
        l = driver.find_element_by_xpath("/html/body/div[4]/div/main/div[2]/div/div/div[2]/div[2]/div/div[5]/div/ul/li/a/span[1]")     
        lang.append(l.text)
    except NoSuchElementException:
        lang.append('-') 

time.sleep(2)    
# Make dataframe
git = pd.DataFrame({'Repository title':title,'Repository description':desc,'Contributors count':count,'Language used':lang})
git.head()

,Repository title,Repository description,Contributors count,Language used
0,v4d1 / SpoofThatMail,Bash script to check if a domain or list of do...,-,-
1,windowjs / windowjs,Window.js is an open-source Javascript runtime...,2,C++
2,withastro / astro,"Build fast websites, faster. 🚀🧑‍🚀✨",1.8k,-
3,CyC2018 / CS-Notes,📚 技术面试必备基础知识、Leetcode、计算机操作系统、计算机网络、系统设计,-,-
4,apache / superset,Apache Superset is a Data Visualization and Da...,55,-

# Q6

In [32]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:/Users/nitee/Downloads/chromedriver_win32/chromedriver.exe") 
time.sleep(3)

url = "https:/www.billboard.com/"
driver.get(url)

In [33]:
# reaching to hot 100-page
title_tags=driver.find_element_by_xpath("/html/body/div[4]/header/div[2]/div/nav/ul/li[1]/a")
driver.get(title_tags.get_attribute("href"))

In [35]:
#Make empty lists
song = []   
artist = []
rank1 = []
rank2 = []
week = []

    
# Extracting song name
try:
    det = driver.find_elements_by_xpath("//li[@class='lrv-u-width-100p']/ul/li/h3")      
    for i in det:
        song.append(i.text)
except NoSuchElementException:
    song.append('-')    

# Extracting artist name,rank,week on board
try:
    det = driver.find_elements_by_xpath("//li[@class='lrv-u-width-100p']/ul/li/span")      
    for i in det:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('-') 

rank1=artist[1::4]
rank2=artist[2::4]
week=artist[3::4]
artist=artist[::4]
    
time.sleep(2)    
# Make dataframe
Song = pd.DataFrame({'Song name':song,'Artist name':artist,'Last week rank':rank1,'Peak rank':rank2,'SWeeks on board':week})
Song.head()

,Song name,Artist name,Last week rank,Peak rank,SWeeks on board
0,Easy On Me,Adele,2,1,13
1,Stay,The Kid LAROI & Justin Bieber,6,1,26
2,Heat Waves,Glass Animals,7,3,51
3,Shivers,Ed Sheeran,9,4,17
4,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz...",50,5,2

# Q7

In [36]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:/Users/nitee/Downloads/chromedriver_win32/chromedriver.exe") 
time.sleep(3)

url = "https://www.naukri.com/"
driver.get(url)

In [37]:
# reaching to recruiters page 
title_tags=driver.find_element_by_xpath("/html/body/div/div[2]/div[1]/div/ul/li[1]/a")
driver.get(title_tags.get_attribute("href"))

time.sleep(2)
title_tags=driver.find_element_by_xpath("/html/body/div[1]/div/ul/li[2]/a")
driver.get(title_tags.get_attribute("href"))

# searching for Data science
time.sleep(2)
search=driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys('Data science')
search_btn=driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
search_btn.click()

In [40]:
#Make empty lists
name = []   
post = []
company = []
location = []
skill = []

urls = []
url=driver.find_elements_by_xpath("//p[@class='highlightable']/a[1]")
for i in url:
    urls.append(i.get_attribute("href"))
    
for i in urls:
    driver.get(i)
    time.sleep(2)
    
    # Extracting names
    try:
        des = driver.find_element_by_xpath("//div[@class='rFrame fl infoWrapper']/div[2]/h1")      
        name.append(des.text)
    except NoSuchElementException:
        name.append('-') 
        
    # Extracting designation
    try:
        c = driver.find_element_by_xpath("//div[@class='rFrame fl infoWrapper']/div[3]")      
        post.append(c.text)
    except NoSuchElementException:
        post.append('-') 
        
    # Extracting company
    try:
        l = driver.find_element_by_xpath("//div[@class='rFrame fl infoWrapper']/div[4]/a")
        company.append(l.text)
    except NoSuchElementException:
        company.append('-') 
        
    # Extracting location
    try:
        l = driver.find_element_by_xpath("//div[@class='rFrame fl infoWrapper']/div[5]/a")
        location.append(l.text)
    except NoSuchElementException:
        location.append('-')
        
    # Extracting skill
    try:
        l = driver.find_element_by_xpath("//div[@class='fl lPortn']/p[1]")
        skill.append(l.text)
    except NoSuchElementException:
        skill.append('-')

time.sleep(2)    
# Make dataframe
Job = pd.DataFrame({'Name':name,'Designation':post,'Company':company,'Skills they hire for':skill,'Location':location})
Job.head()

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer , Internet Marketing Pro...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net , Java , Data Science , Linux Administrat...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Mid Level, Junior Level",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,", Mean Stack , javascript , angularjs , mongod...",Ahmedabad
4,subhas patel,Founder & CEO,LibraryXProject,"Hadoop , Spark , Digital Strategy , Data Archi...",UK - (london)

# Q8

In [41]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:/Users/nitee/Downloads/chromedriver_win32/chromedriver.exe") 
time.sleep(3)

url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)

In [43]:
#Make empty lists
book = []   
author = []
volume = []
publisher = []
genre = []

    
# Extracting book name
try:
    det = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")      
    for i in det:
        book.append(i.text)
except NoSuchElementException:
    book.append('-')    

# Extracting author name
try:
    det = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")      
    for i in det:
        author.append(i.text)
except NoSuchElementException:
    author.append('-') 

# Extracting volume sold
try:
    det = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")      
    for i in det:
        volume.append(i.text)
except NoSuchElementException:
    volume.append('-') 
    
# Extracting publisher
try:
    det = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")      
    for i in det:
        publisher.append(i.text)
except NoSuchElementException:
    publisher.append('-') 
    
# Extracting genre
try:
    det = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")      
    for i in det:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('-') 
    
time.sleep(2)    
# Make dataframe
Novel = pd.DataFrame({'Book name':book,'Author name':author,'Volumes sold':volume,'Publisher':publisher,'Genre':genre})
Novel.head()

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas

# Q9

In [50]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:/Users/nitee/Downloads/chromedriver_win32/chromedriver.exe") 
time.sleep(3)

url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [51]:
#Make empty lists
name = []   
year = []
genre = []
times = []
rating = []
vote = []
    
# Extracting series name
try:
    det = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")      
    for i in det:
        name.append(i.text)
except NoSuchElementException:
    name.append('-')
    
# Extracting year
try:
    det = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")      
    for i in det:
        year.append(i.text)
except NoSuchElementException:
    year.append('-')    

# Extracting genre
try:
    det = driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]")      
    for i in det:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('-') 

# Extracting run time
try:
    det = driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]")      
    for i in det:
        times.append(i.text)
except NoSuchElementException:
    times.append('-') 
    
# Extracting ratings
try:
    det = driver.find_elements_by_xpath("//div[@class='ipl-rating-widget']/div/span[2]")      
    for i in det:
        rating.append(i.text)
except NoSuchElementException:
    rating.append('-') 
    
# Extracting votes
try:
    det = driver.find_elements_by_xpath("//span[@name='nv']")      
    for i in det:
        vote.append(i.text)
except NoSuchElementException:
    vote.append('-') 
    
time.sleep(2)    
# Make dataframe
Series = pd.DataFrame({'Name':name,' Year span':year,'Genre':genre,'Run time':times,'Ratings':rating,'Votes':vote})
Series.head()

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,930,969"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"951,698"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"922,304"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"276,356"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"236,600"

# Q10

In [52]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:/Users/nitee/Downloads/chromedriver_win32/chromedriver.exe") 
time.sleep(3)

url = "https://archive.ics.uci.edu/"
driver.get(url)

In [53]:
# reaching to ShowAllDataset page
title_tags=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/span/b/a")
driver.get(title_tags.get_attribute("href"))

In [54]:
#Make empty lists
name = []   
dat = []
task = []
typ = []
instance = []
attr = []
year = []

urls = []
url=driver.find_elements_by_xpath("//p[@class='normal']/b/a")
for i in url:
    urls.append(i.get_attribute("href"))
    
for i in urls:
    driver.get(i)
    time.sleep(2)
    
    # Extracting Dataset name
    try:
        des = driver.find_element_by_xpath("//span[@class='heading']/b")      
        name.append(des.text)
    except NoSuchElementException:
        name.append('-') 
        
    # Extracting Data type
    try:
        c = driver.find_element_by_xpath("//table[@border='1']/tbody/tr/td[2]")      
        dat.append(c.text)
    except NoSuchElementException:
        dat.append('-') 
        
    # Extracting Task
    try:
        l = driver.find_element_by_xpath("//table[@border='1']/tbody/tr[3]/td[2]")
        task.append(l.text)
    except NoSuchElementException:
        task.append('-') 
        
    # Extracting Attribute type
    try:
        l = driver.find_element_by_xpath("//table[@border='1']/tbody/tr[2]/td[2]")
        typ.append(l.text)
    except NoSuchElementException:
        typ.append('-')
        
    # Extracting No of instances
    try:
        l = driver.find_element_by_xpath("//table[@border='1']/tbody/tr/td[4]")
        instance.append(l.text)
    except NoSuchElementException:
        instance.append('-')
        
    # Extracting No of attribute
    try:
        l = driver.find_element_by_xpath("//table[@border='1']/tbody/tr[2]/td[4]")
        attr.append(l.text)
    except NoSuchElementException:
        attr.append('-')
        
    # Extracting Year
    try:
        l = driver.find_element_by_xpath("//table[@border='1']/tbody/tr[2]/td[6]")
        year.append(l.text)
    except NoSuchElementException:
        year.append('-')

time.sleep(2)    
# Make dataframe
Data = pd.DataFrame({'Dataset name':name,'Data type':dat,'Task':task,'Attribute type':typ,'No of instances':instance,'No of attribute':attr,'Year':year})
Data.head()

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone Data Set,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995-12-01
1,Adult Data Set,Multivariate,Classification,"Categorical, Integer",48842,14,1996-05-01
2,Annealing Data Set,Multivariate,Classification,"Categorical, Integer, Real",798,38,N/A
3,Anonymous Microsoft Web Data Data Set,N/A,Recommender-Systems,Categorical,37711,294,1998-11-01
4,Arrhythmia Data Set,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998-01-01